RewriteEngine On

RewriteCond %{REQUEST_URI} !^/404\.php$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{DOCUMENT_ROOT}/admin/$1.php -f
RewriteRule ^([^/]+)/?$ admin/$1.php [L,QSA]
ErrorDocument 404 /404.php


